.home {
    display: flex;
    margin: 5%;
    height: 80%;
    background-color: rgba(153, 153, 153, 0.205);
    border-radius: 25px;
}

.img {

}

.buy {
    height: 5%;
    width: 5%;
    background-color: rgba(230, 174, 174, 0.603);
    border-radius: 24px;
    text-align: center;
}

a: